@using MbmStore.Models;

@{
    ViewBag.Title = "Index";
}

<style>
    .content {
        overflow:hidden;
        border: 1px solid black;
    }

    .books {
        width: 40%;
        float: left;
        overflow: hidden;
        /*border: 1px dotted red;*/
    }

    .cds {
        /*border: 1px dashed blue;*/
    }

    .book {
        border: 1px dotted red;
    }

    .cd-info {
        width: 30%;
        float: left;
        overflow: hidden;
        border: 1px dashed green;
    }

    .track-list {
        overflow: hidden;
        border: 1px dashed yellow;
    }
</style>

@helper RenderBook(Book book) {
    <div class="book">
        <strong>Title:</strong> @book.Title<br />
        <strong>Author:</strong> @book.Author<br />
        <strong>Price:</strong> @book.Price.ToString("0.00")<br />
        <strong>Publisher:</strong> @book.Publisher @String.Format("({0})", book.Published)<br />
        <strong>ISBN:</strong> @book.ISBN<br />
        <img src="/content/images/@book.ImageUrl" height="150" alt="Book cover" />
    </div>
    <br />
}

@helper RenderCD(MusicCD cd) {
    <div class="cd-info">
        <strong>Album:</strong> @cd.Title<br />
        <strong>Artist:</strong> @cd.Artist<br />
        <strong>Price:</strong> @cd.Price.ToString("0.00")<br />
        <strong>Publisher:</strong> @cd.Label (@cd.Released)<br />
        <img src="/content/images/@cd.ImageUrl" height="150" alt="Book cover" />
    </div>
    <div class="track-list">
        Tracks:<br />
        <ul style="list-style:decimal; list-style-position:inside;">
            @foreach (Track track in cd.Tracks)
            {
                <li>@track.Title (@track.Composer) @track.Length.Minutes:@track.Length.Seconds.ToString("00")</li>
            }
        </ul>
    </div>
    <br />
}


<h2>Index</h2>

<div class="body-content content">
    <div class="books">
        @foreach (Book book in ViewBag.Books)
        {
            @RenderBook(book)
        }
    </div>

    <div class="cds">
        @foreach (MusicCD cd in ViewBag.CDS)
        {
            @RenderCD(cd)
        }
    </div>
</div>

